<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
	
    <!-- index.html 고유 CSS 추가 
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/home.css}" >
    </th:block>
    -->
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/board/boardIndex.js}"></script>
		<script>
			let reqBoardId = "[[${boardId}]]";
		</script>
    </th:block>

    <div layout:fragment="content">
	    <div id="boardApp">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col">
				    	<br>
					    <h4 class="text-left">{{board.explanation}}</h4>
					    <br>
					</div>
				</div>
	    		<div v-if="loginId" class="row m-1">
	    			<div class="col" style="text-align:right">				
					    <button class="btn btn-sm btn-secondary" type ="button" v-on:click="goInsertPage">글쓰기</button>
					</div>
				</div>
	    		<div class="row">
	    			<div class="col">								
				        <table class="table" style="text-align: center;">
				        	<thead class="thead-light">
				        		<tr>
				        			<th width="5%">ID</th>
				        			<th width="40%">제목</th>
				        			<th width="15%">작성자 (랭킹)</th>
				        			<th width="20%">게시시간</th>
				        			<th width="20%">수정시간</th>
				        		</tr>
				        	</thead>
						    <tr v-for="post in postList">
						    	<td>{{ post.postId }}</td>
						    	<td><a :href=post.url>{{ post.postTitle }}</a></td>
						    	<td>{{ post.regpeId }} (Rank.{{ post.user.ranking }})</td>
						    	<td>{{ post.regDts }}</td>
						    	<td>{{ post.modDts }}</td>
						    </tr>        	
				        </table>
			        </div>
		        </div>
	    		<div class="row">
	    			<div class="col">
						<ul class="pagination justify-content-center">
							<li class="page-item"><a class="page-link" href="#" v-on:click="prevPage">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
							<li class="page-item"><a class="page-link" href="#" v-on:click="nextPage">Next</a></li>
						</ul>
	    			</div>
	    		</div>
	        </div>
        </div>
    </div>
    
</html>