<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
	
    <!-- index.html 고유 CSS 추가 
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/home.css}" >
    </th:block>
    -->
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/static/js/board/board_index.js}"></script>
		<script>
			let p_boardId = "[[${boardId}]]";
		</script>
    </th:block>

    <div layout:fragment="content">
	    <div id="board_app">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col">
				    	<br>
					    <h1 class="text-center">{{board.explanation}}</h1>
					    <br>
					</div>
				</div>
	    		<div class="row">
	    			<div class="col" style="text-align:right">				
					    <button class="btn btn-primary" type ="button" v-on:click="go_insert_page">글쓰기</button>
					</div>
				</div>
	    		<div class="row">
	    			<div class="col">								
				        <table class="table">
				        	<thead>
				        		<tr>
				        			<th>번호</th>
				        			<th>제목</th>
				        			<th>작성자</th>
				        			<th>게시시간</th>
				        			<th>수정시간</th>
				        		</tr>
				        	</thead>
						    <tr v-for="post in post_list">
						    	<td>{{ post.postId }}</td>
						    	<td><a :href=post.url>{{ post.postTitle }}</a></td>
						    	<td>{{ post.regpeId }}</td>
						    	<td>{{ post.regDts }}</td>
						    	<td>{{ post.modDts }}</td>
						    </tr>        	
				        </table>
			        </div>
		        </div>
	    		<div class="row">
	    			<div class="col">
						<ul class="pagination justify-content-center">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
	    			</div>
	    		</div>
	        </div>
        </div>
    </div>
    
</html>